*{
    overflow: hidden;
}
.imageinnocent{
    margin-right: 1015px ;
}
.nav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  .nav a {
    float: right;
    color: #000000;
    text-align: center;
    padding: 70px 25px;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
  }
  
  .nav a:hover {
    color: #9FE2BF;
  }
  
  .nav a.navbar {
    background-color: #9FE2BF;
    color: #9FE2BF;
    
  }
  .jumbotron{
      background-color: rgb(255, 255, 255);
  }
  .imagebg{
    width: 1925px;
    height: 700px;
    margin-top: -65px;
    margin-left: -32px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  
}
.bi-instagram{
  color: rgb(255, 0, 255);
  position: fixed;
  margin-bottom: 340px;
}
.black{
  background-color: #16eb21;
  color: rgb(7, 27, 207);
}
.wrapper {
  width: 500px;
  margin: 0 auto;
}
